.greetingsMainDiv {
  width: 95%;
  /* padding: 20px 10px; */
  margin: 0px auto;
  margin-top: 2rem;
  display: flex;
  background-color: transparent;
}

.greetingsMainDiv > * {
  flex: 1;
  /* margin-bottom: 30px; */
}

.greetingsTextDiv {
  margin-top: 80px;
  margin-right: 40px;
  font-size: 40px;
  line-height: 40px;
  
}

.greetingsTitle {
  font-family: 'Lemonada', cursive;
  font-size: 60px;
}

.greetingsNickName {
  font-family: 'Lemonada', cursive;
  font-size: 20px;
}

.greetingsText {
  font-family: 'Fredoka One', cursive;
  font-size: 35px;
  font-weight: lighter;
  line-height: 50px;
}

.greetingsImgDiv  > * {
    max-width: 100%;
    height: auto;
}

/* Media Query */
@media (max-width: 1380px) {
  .greetingsText {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .greetingsMainDiv {
    display: block;
  }

  .greetingsTitle {
    font-size: 30px;
    text-align: center;
  }

  .greetingsNickName {
    font-size: 25px;
    text-align: center;
  }

  .greetingsText {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}